html{
    background: url(../images/bridge.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#main{

    background-color: #E0F8F1;
    width:904px;
    margin:3px auto 50px auto;
    text-align:left;
    border-radius: 5px;
    border-style: inset;
    border-color: #A9F5F2;
    opacity: 0.97;
    filter: alpha(opacity=40);
    box-shadow: 10px 10px 5px #888888;
}
* {
    margin: 0; padding: 0;}

#navigation {
  background: #333;
  background: -webkit-linear-gradient(bottom, #222 0%, #444 100%);
  height: 70px;
  padding: 0 20px;
}

#navigation li {
  float: left;
  list-style-type: none;
}

#navigation a {
  display: block;
  text-transform: uppercase;
  padding: 20px;
  text-decoration: none;
  font-size: 16px;
  text-align: center;
  width: 100px;
  color: #fff;
  text-shadow: 1px 1px #999;
  position: relative;
  background: transparent;
  z-index: 2;

  margin-top: -100px;
  padding-top: 120px;
  padding-left: 78px;
  -webkit-transition: all 0.3s ease-in;
}

#navigation a span {
  display: block;
  font-size: 10px;
  color: #666;
  text-shadow: none;
}

#navigation a:hover{
  text-shadow: 1px 1px #666;
  margin: 0; padding-top: 20px;
}


#navigation a:hover span {
  color: #333;
  z-index: 2;
}

#navigation a:before {
  content: '';
  z-index: -1;
  position: absolute; top: 0; left: 58;
  border-right: 70px solid #30C8D0;
  border-left: 70px solid #30C8D0;
  border-bottom: 25px solid transparent;
  height: 70px;
}

#navigation a:hover:after {
  content: '';
  z-index: -2;
  position: absolute; left: 58; top: 0;
  border-left: 70px solid #333;
  border-right: 70px solid #333;
  border-bottom: 25 solid transparent;
  height: 70px;
  opacity: 0.5;
  -webkit-transform: scaleY(1.1);
}

#navigation span:before {
  content: '';  
  position: absolute; top: 0; left: 58;
  width: 126px; height: 92px;
  border-left: 7px solid #135D6B;
  border-right: 7px solid #135D6B;
  border-bottom: 2px solid transparent;
}

#navigation span:after {
  content: '';
  width: 0;
  height: 25px;
  position: absolute; left: 50%; top: 0%;
  -webkit-box-shadow: 0 0 120px 30px rgba(255, 255, 255, 1);
  z-index: -1;
}
.slider {
    display: block;
    height: 320px;
    min-width: 260px;
    max-width: 640px;
    margin: auto;
    margin-top: 20px;
    position: relative;
}

.sliderinner {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.sliderinner>ul {
    list-style: none;
    height: 100%;
    width: 500%;
    overflow: hidden;
    position: relative;
    left: 0px;
    -webkit-transition: left .8s cubic-bezier(0.77, 0, 0.175, 1);
    -moz-transition: left .8s cubic-bezier(0.77, 0, 0.175, 1);
    -o-transition: left .8s cubic-bezier(0.77, 0, 0.175, 1);
    transition: left .8s cubic-bezier(0.77, 0, 0.175, 1);
}

.sliderinner>ul>li {
    width: 20%;
    height: 320px;
    float: left;
    position: relative;
}

.sliderinner>ul>li>img {
    margin: auto;
    height: 100%;
}

.slider input[type=radio] {
    position: absolute;
    left: 50%;
    bottom: 15px;
    z-index: 100;
    visibility: hidden;
}

.slider label {
    position: absolute;
    left: 50%;
    bottom: -45px;
    z-index: 100;
    width: 12px;
    height: 12px;
    background-color:#ccc;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,.8);
    -moz-box-shadow: 0px 0px 3px rgba(0,0,0,.8);
    box-shadow: 0px 0px 3px rgba(0,0,0,.8);
    -webkit-transition: background-color .2s;
    -moz-transition: background-color .2s;
    -o-transition: background-color .2s;
    transition: background-color .2s;
}

.slider input[type=radio]#control1:checked~label[for=control1] { background-color: #00BFFF; }
.slider input[type=radio]#control2:checked~label[for=control2] { background-color: #00BFFF; }
.slider input[type=radio]#control3:checked~label[for=control3] { background-color: #00BFFF; }
.slider input[type=radio]#control4:checked~label[for=control4] { background-color: #00BFFF; }
.slider input[type=radio]#control5:checked~label[for=control5] { background-color: #00BFFF; }

.slider label[for=control1] { margin-left: -36px }
.slider label[for=control2] { margin-left: -18px }
.slider label[for=control3] { margin-left:   0px }
.slider label[for=control4] { margin-left: 18px }
.slider label[for=control5] { margin-left: 36px }

.slider input[type=radio]#control1:checked~.sliderinner>ul { left: 0 }
.slider input[type=radio]#control2:checked~.sliderinner>ul { left: -100% }
.slider input[type=radio]#control3:checked~.sliderinner>ul { left: -200% }
.slider input[type=radio]#control4:checked~.sliderinner>ul { left: -300% }
.slider input[type=radio]#control5:checked~.sliderinner>ul { left: -400% }

.description {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}
.description-text {
    background-color: rgba(84, 141, 188, 0.7);
    padding:10px;
    top: 0;
    z-index: 4;
    border-radius: 5px;
    -webkit-transition: opacity .2s;
    -moz-transition: opacity .2s;
    -o-transition: opacity .2s;
    transition: opacity .2s;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    color: #3B0B39;
}
h1{
    font-size:30px;
    font-family: 'Lobster', cursive;
}
hr{
    width:40%;
}
p{
    margin-left: 5%;
    margin-right: 5%;
    font-size:17px;
    font-family: 'Oxygen', sans-serif;
}
a{
    text-decoration: none;
}
#text{
    margin-top: 7%;
    margin-left: 5%;
    margin-right: 5%;
    font-size:17px;
    font-family: 'Oxygen', sans-serif;
}
#list1{
    margin-left: 8%;
}
#work{
    margin-left: 5%;
    font-size:20px;
    font-family: 'Oxygen', sans-serif; 
    color: #3B240B;
}
