.github-small{
    position: relative;
    color: #ffffff;
    text-decoration: none;
    font-family: 'Oswald';
    display: block;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
   	width: 50px;
	text-align: center;
	
	-webkit-transform: translate(0, 0);
	-moz-transform: translate(0, 0);
	transform: translate(0, 0);
 
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-ms-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
 
    height:44px;
    cursor:pointer;
    overflow:hidden;
 
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
}

.linkedin-small{
    position: relative;
    color: #ffffff;
    text-decoration: none;
    font-family: 'Oswald';
    display: block;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    width: 50px;
    text-align: center;
    
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    transform: translate(0, 0);
 
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
 
    height:44px;
    cursor:pointer;
    overflow:hidden;
 
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
}
.google-small{
    position: relative;
    color: #ffffff;
    text-decoration: none;
    font-family: 'Oswald';
    display: block;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    width: 50px;
    text-align: center;
    
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    transform: translate(0, 0);
 
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
 
    height:44px;
    cursor:pointer;
    overflow:hidden;
 
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
}

.insta-small{
    position: relative;
    color: #ffffff;
    text-decoration: none;
    font-family: 'Oswald';
    display: block;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    width: 50px;
    text-align: center;
    
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    transform: translate(0, 0);
 
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
 
    height:44px;
    cursor:pointer;
    overflow:hidden;
     
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.hr{
    display:inline-block;
}
 
a:active {
    -webkit-transform: translate(0, 3px);
	-moz-transform: translate(0, 3px);
	transform: translate(0, 3px);
}

 a.github-small{
    background:#2CA9E1 url("github.png") no-repeat center center;
    -webkit-box-shadow: 0px 6px 0px #2695BC;
    -moz-box-shadow: 0px 6px 0px #2695BC;
    box-shadow: 0px 6px 0px #2695BC;
    margin-left: 80px;

}

 a.github-small:active{ -webkit-box-shadow: 0px 2px 0px #2695BC;
    -moz-box-shadow: 0px 2px 0px #2695BC;
    box-shadow: 0px 2px 0px #2695BC;
}
a.linkedin-small{
    background:#2CA9E1 url("linkedin.png") no-repeat center center;
    -webkit-box-shadow: 0px 6px 0px #0489B1;
    -moz-box-shadow: 0px 6px 0px #0489B1;
    box-shadow: 0px 6px 0px #0489B1;
    margin-left: 3px;   
}

a.linkedin-small:active{ -webkit-box-shadow: 0px 2px 0px #0489B1;
    -moz-box-shadow: 0px 2px 0px #0489B1;
    box-shadow: 0px 2px 0px #0489B1;
}

a.google-small{
    background:#2CA9E1 url("google.png") no-repeat center center;
    -webkit-box-shadow: 0px 6px 0px #CB3C1F;
    -moz-box-shadow: 0px 6px 0px #CB3C1F;
    box-shadow: 0px 6px 0px #CB3C1F;
    margin-left: 3px; 
}

a.google-small:active{ -webkit-box-shadow: 0px 2px 0px #CB3C1F;
    -moz-box-shadow: 0px 2px 0px #CB3C1F;
    box-shadow: 0px 2px 0px #CB3C1F;
}
 a.insta-small{
    background:#2CA9E1 url("insta.gif") no-repeat center center;
    -webkit-box-shadow: 0px 6px 0px #744C24;
    -moz-box-shadow: 0px 6px 0px #744C24;
    box-shadow: 0px 6px 0px #744C24;
    margin-left: 3px; 
}

 a.insta-small:active{ -webkit-box-shadow: 0px 2px 0px #744C24;
    -moz-box-shadow: 0px 2px 0px #744C24;
    box-shadow: 0px 2px 0px #744C24;
}

.outset-colored {
    font-family: Helvetica, Verdana, Arial, sans-serif;
    font-size: 14px;
    list-style-type: none;
    margin: 10px 0 0 10px;
}

.outset-colored ul {
    list-style-type: none; display: block; 
}

.outset-colored li {
    float: left;
    height: 30px;
    margin: 0 8px 7px 0;
}

.outset-colored li a {
    color: #424242;
    float: left;
    font-size: 16px;
    font-weight: bold;
    height: 24px;
    padding-left: 27px;
    padding-top: 6px;
    position: relative;
    text-decoration: none;
    border: 1px solid #bfc1c6;
    border-radius: 5px;
    background-color: #D8D9DD;
    -moz-border-radius: 5px;
    -webkit-borer-radius: 5px;  
}

/* EMAIL */
.outset-colored li a.email {
    background: -moz-linear-gradient(#ff6666, #cc0000 10%, #c40202);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0, #ff6666),color-stop(.10, #cc0000),color-stop(1, #c40202));
    color: #f3f3f3;
    border: 1px solid #c40202;
}

.outset-colored li a:hover.email {
    background: -moz-linear-gradient(#c40202, #cc0000 1%, #e03434 10%, #e03434);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0, #c40202),color-stop(.01, #cc0000),color-stop(.10, #e03434),color-stop(1, #e03434));
}
.outset-colored li a img {
    height: 16px;
    left: 7px;
    margin-right: 7px;
    position: absolute;
    top: 7px;
    width: 16px;
    border: none;
}

.outset-colored li a span {
    display: block;

    height: 22px;
    padding-right: 7px;
    overflow: hidden;
}

span.site { 
  font-size: 14px; line-height: 20px;
}